* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #EFEFEF;
	color: #363639;
    font-family: 'Work Sans', sans-serif;
}


.portada.oculta {
	transform: translateY(100%);
}

.portada .header {
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.portada .header .logotipo {
	font-size: 50px;
	font-size: 900;
	margin-bottom: 20px;
}

.portada .header .mensaje {
	font-size: 30px;
	font-weight: 600;
}



/* ? ----- MAIN ----- */
main {
	max-width: 1000px;
	margin: auto;
	width: 90%;
	padding: 60px 0;
	font-size: 18px;
	line-height: 28px;
	text-align: left;
}



/* ? ----- Cuenta Regresiva ----- */
#cuenta, #cuenta2, #cuenta3, #cuenta4 {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

.simply-section {
	background: #edececa1   ;
	width: 180px;
	height: 180px;
	margin: 0 20px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.simply-amount {
	display: block;
	font-size: 50px;
	font-weight: 700;
}

.simply-word {
	font-weight: 300;
	font-size: 30px;
}

